<% provide :title, "Account deleted" %>
<h1>Account deleted</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <p>
    Your Genjo account and all it's associated data has now been deleted.
    We are sorry to see you go! If you change your mind then please 
    <%= link_to "sign up", signup_path %> again.
    </p>
  </div>
</div>
