<h1>Genjo! Account deletion </h1>

<p>
In order to delete you account, please click this link: 
</p>

<%= link_to "Delete account",
  edit_account_deletion_url(@user.deletion_token, email: @user.email) %>

<p>
Please note that this account deletion process is irreversible, so please be 
sure that you want to delete your account before proceeding.
</p>

<p>
If it was not you who requested to delete this account, then please ignore 
this email.
</p>
