<h1>Genjo! Password reset</h1>

<p>
In order to reset your password, please click this link: 
</p>

<%= link_to "Reset password", 
  edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>
If it was not you who requested a password reset, then please ignore this email.
</p>

<p>
This link will expire in 2 hours.
</p>
