<% provide :title, "About" %>
<h1>What is Genjo?</h1>
<p class="justified">
  Genjo! is a language learning assistant, designed to help you learn a foreign 
  language by providing you with a simple overview of your targets and tasks, 
  and allowing you to write diary entries which help you to practice and absorb 
  your target language by habitually using it.
</p>
<p class="justified">
  To learn about how to use Genjo! take a look at the 
  <%= link_to "help information page", help_path %>. Or to find out about how 
  to contact the Genjo! development team to report a problem or get involved in 
  development, then head towards the 
  <%= link_to "contact page", contact_path %>.
</p>
