<% provide :title, "Contact" %>
<h1>Contact us</h1>
<p>
  Genjo! is an open source project distributed under the 
  <a href="https://www.gnu.org/licenses/gpl.html" target="_blank">GNU General 
  Purpose License v3.0</a>. If you find any issues with the application or 
  would like to get involved with the project, then please get in touch.
</p>
<p>
  The project page for Genjo! is located on GitHub, at the following location:  
  <a href="https://github.com/matthewhazlehurst/genjo" target="_blank">
  Genjo! GitHub page</a>.
</p>
