<% provide :title, "Help" %>
<h1>Help</h1>

<div class="row">
<div class="col-md-6 col-md-offset-3">
    
<p class="justified">
  Genjo! is a language learning assistant, that's designed to be simple to use, 
  yet very handy. The idea is that you can get a dashboard-like view of your 
  language learning process that will help you stay motivated to achieving your 
  goals. It also gives you a great way to record your progress over a set 
  period of time, this itself is great motivation, and it's fun to look back 
  at how far you have come.
</p>

<p class="justified">
  The Genjo! home page combines the three major elements of the application 
  together into an easy-to-read dashboard like page. These three major elements 
  are <i>diary entries, targets</i> and <i>tasks.</i>
</p>

<h2>Creating Diary Entries</h2>

<p class="justifed">
  One of the most challenging aspects of learning a foreign language is 
  absorbing the grammar and volcabulary that you are learning. It can often 
  feel like new information or grammar rules go in one ear and straight out 
  of the other. Genjo! is designed so that it's incredibly easy to make a 
  quick diary entry in your target language. If you set a good routine of 
  writing a diary entry every day, you can really help your brain to remember 
  and absorb the new information that you are trying to process. Also, these 
  diaries can be great motivation in the future when you look back at them, as 
  you will be able to gauge just how far your have come with your learning.
</p>

<p class="justified">
  To create a new diary, open the <i>Diary</i> screen from the top menu and 
  then click the new button. If there are no diaries yet, you will see a 
  helpful message with a link to create your first diary. The following picture 
  shows an example of an English language diary entry. As you can see, you can 
  provide a date, title and the contents of the diary itself.
</p>

<%= image_tag("diary.jpg", alt: "Example of creating a new diary", class: "help-image") %>

<p class="justified">
  Once you have created a diary, you can read them or edit them at any time, 
  from the <i>Diary</i> screen, amongst other places.
</p>

<h2>Creating Targets</h2>

<p class="justified">
  We all have targets when we are learning a language. Whether you have the aim 
  to learn a new writing system, or pass a compentancy test, or learn a certain 
  number of new workds. Visualizing these targets is a great way to keep you on 
  track to achieve them.
</p>

<p class="justifed">
  To create a new target, open the <i>Target</i> screen from the top menu and 
  then click the new button. If there are no targets yet, you will see a 
  helpful message with a link to create your first target. The following picture 
  shows an example of a typical target a language learner might want to set up. 
  As you can see, you can provide a name and description for the target, as 
  well as the number of steps that the target has, and a name for the type of 
  steps. For example, chapters, words, characters etc.
</p>

<%= image_tag("target.jpg", alt: "Example of creating a new target", class: "help-image") %>

<p class="justifed">
  Once you have created a target, Genjo! will render a progress chart of the 
  target and show how close you are to achieving the target. You can update the 
  amount of steps you have completed on the target by editing the target. To do 
  this you will need to access the <i>Target</i> page. 
</p>

<h2>Creating Tasks</h2>

<p class="justified">
  When you are learning a foreign language, there are often many tasks that you 
  have have to complete in order to achieve your goals. For example you may 
  need to review a certain amount of words each day, or buy certain materials. 
  Genjo! helps you stay on top of all these little tasks by providing a todo 
  list like feature.
</p>

<p class="justified">
  To create a new task, open the <i>Task</i> screen from the top menu and then 
  click the new button. If there are no tasks yet, you will see a helpful 
  message with a link to create your first task. The following picture shows an 
  example of a typical task that a language learner might want to set up. As 
  you can see, you can provide Genjo! with a name and description for your task, 
  along with an optional due date and high priority status.
</p>

<%= image_tag("task.jpg", alt: "Example of creating a new task", class: "help-image") %>

<p class="justifed">
  After you have created a task, you can view it on the <i>Task</i> page in a 
  very easy-to-read format. 
</p>

</div>
</div>
