<div class="center jumbotron">
  <h1>Welcome to Genjo!</h1>

  <h2>
    Genjo! is a language learner's best friend, and it's designed to make 
    the process of learning a foreign language more manageable.
  </h2>

  <%= link_to "Sign up now!", "#", class: "btn btn-lg btn-primary" %>
</div>
