/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixins */
@mixin box_sizing {
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* General */

.navbar-inverse .navbar-brand{
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 3px;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

.welcome-box-icon {
  font-size: 80px;
  padding: 10px 0px;
  text-align: center;
  display: block;
}

.center {
  text-align: center;
}

.justified {
  text-align: justify;
}

.btn-new { 
  display: block;  
  margin-bottom: 40px; 
  .btn {
   float: right;
 } 
}

.btn-edit-cancel {
  width: 100px;
}

.more-link
{
  margin-left: 50%;
  margin-right: 50%;
  color: $gray;
}

.help-image {
  width: 100%;
  padding: 10px 0px;
}

/* Typography */

h1, h2, h3 {
  text-align: center;
}

/* Forms */

input, textarea, select, .uneditable-input {
  width: 100%; 
  margin-bottom: 15px;
  resize: vertical;
  @include box_sizing;
}

form {
  margin-bottom: 15px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal; 
  }
}

.form-checkbox {
  width: 100%;
  input {
    display: block;
    margin-left: 120px;
  } 
  span {
    display: block;
    padding: 5px 0px;
    margin-top: -22px;
    font-weight: bold;
  }
}

/* Progress Bars */

.progress {
  height: 30px;
}

/* Users */

.user-profile-link {
  display: block;
  margin-bottom: 15px;
}

.gravatar-edit {
  margin-bottom: 15px;
  a {
    display: block;
    margin-left: 15px; 
  }
}

.user-info {
  .user-picture {
    display: block;
    margin-bottom: 20px; 
  }   
  .user-name {
    display: block;
    padding: 10px 0px; 
  }
}

/* Home Page */

.targets-area {
}

.diaries-area {
  border-left: 1px solid $gray-lighter;
  border-right: 1px solid $gray-lighter;
}

.tasks-area {
}

/* Diaries */

.diary-message {
  display: block; 
  margin-top: 20px;
  text-align: center;
  font-style: italic; 
}

.diary-entry {
  overflow: hidden;
}

.diaries {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0px;
    border-bottom: 1px solid $gray-lighter;
  }
  .diary-icon {
    margin-right: 10px;
    float: left;
  }
  .diary-title {
    display: block;
    margin-left: 60px;
  }
  .diary-date {
    display: block;
    margin-left: 60px;
    font-style: italic;
  }
  .diary-preview {
    display: block;
    margin-left: 60px;
    overflow: hidden;
  }
  .diary-timestamp {
    display: block;
    margin-left: 60px;
    color: $gray-light;
  }
  .diary-delete {
    color: $gray-light;
  }
}

/* Targets */

.target-stats {
  text-align: center;
  font-style: italic;
}

.target-message {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-style: italic; 
}

.targets {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0px;
    border-bottom: 1px solid $gray-lighter;
  } 
  .target-icon {
    float: left;
    padding: 20px 0px;
    font-size: 30px;
  }
  .target-name {
    display: block;
    margin-left: 60px;
  }
  .progress {
    display: block; 
    height: 20px;
    margin-bottom: 5px;
    margin-left: 60px;
  }
  .target-steps {
    display: block;
    margin-left: 60px;
    font-style: italic;
  }
  .target-delete {
    display: block;
    margin-left: 30px;
    color: $gray-light; 
  }
}

/* Tasks */

.task-message {
  display: block;
  margin-top: 20px;
  text-align: center;
  font-style: italic; 
}

.tasks {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0px;
    border-bottom: 1px solid $gray-lighter;
  } 
  .task-icon {
    float: left;
    padding: 20px 0px;
    font-size: 30px;
  }
  .task-name {
    display: block;
    margin-left: 60px;
  }
  .task-date {
    display: block;
    margin-left: 60px;
    font-style: italic;
  }
  .task-complete {
    display: block; 
    margin-left:60px;
  }
  .task-active {
    display: block;
    margin-left: 60px;
  }
  .task-priority {
    display: block;
    margin-left: 60px;
  }
  .task-status-icon {
    float: right;
    font-size: 20px;
    margin-top: 25px;
    text-decoration: none;
    color: #000000; 
  }
  .task-delete {
    display: block;
    margin-left: 30px;
    color: $gray-light; 
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
  margin-top: -1px;
}

/* Misc */
.debug_dump {
  clear: both;
}
