/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

/* Mixins */
@mixin box_sizing {
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* General */

.center {
  text-align: center;
}

.btn-new { 
  display: block;  
  margin-bottom: 30px; 
  .btn {
   float: right;
 } 
}

.btn-edit-cancel {
  width: 100px;
}

/* Typography */

h1, h2, h3 {
  text-align: center;
}

/* Forms */

input, textarea, select, .uneditable-input {
  width: 100%; 
  margin-bottom: 15px;
  resize: vertical; 
  @include box_sizing;
}

form {
  margin-bottom: 15px;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal; 
  }
}

/* Diaries */

.diaries {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0px;
    border-bottom: 1px solid $gray-lighter;
  }
  .diary-icon {
    margin-right: 10px;
    float: left;
  }
  .diary-title {
    display: block;
    margin-left: 60px;
  }
  .diary-date {
    display: block;
    margin-left: 60px;
    font-style: italic;
  }
  .diary-preview {
    display: block;
    margin-left: 60px;
  }
  .diary-timestamp {
    display: block;
    margin-left: 60px;
    color: $gray-light;
  }
  .diary-delete {
    color: $gray-light;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
  margin-top: -1px;
}

/* Misc */
.debug_dump {
  clear: both;
}
